
.selectdiv {
  position: relative;
  float: left;
  margin-left: 3rem;
  width: 16rem;
  
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #000000;
  -ms-word-break: normal;
  word-break: normal;
}

header nav{
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 0 10px #492901;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
  gap: 15rem;
}

header nav .logo img{
  width: 100px;
  cursor: pointer;
  margin: 8px 0;
}

header nav ul{
  list-style: none;
  gap: 5rem;
  display: flex;
  
}

header nav li{
  display: inline-block;
  padding: 0 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0 10px;
}

header nav li a{
  text-decoration: none;
  color: #000;
}

header nav li a:hover{
  color: #089da1;
}


/* search */

.input-container {
  width: 260px;
  position: relative;
  margin-right: 5rem;
}
#searchButton{
background: none;
border: none;
  
}
.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 30px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}






/*sidebar*/
.sidebar{
  position: fixed;
  top: 0; 
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(46, 46, 46, 0.3);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.sidebar li{
  width: 50%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}


@media(max-width:1300px){
  header nav{
    gap: 0 !important;
  }
}
@media(max-width: 1020px){


  .hideOnMobile{
    display: none;
  }
  header nav li{
      margin: 1rem 10px;

  }
  .menu-button{
  display: block;
  left: 20px;
  position: absolute;
  }
  .logo{
position: absolute;
right: 45%;
  }

}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}


/* footer Styling

.footer{
  background:#754000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .ro{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:rgb(255, 255, 255);
  font-size:0.8em;
  }
  
  .footer .ro a{
  text-decoration:none;
  color:rgb(255, 255, 255);
  transition:0.5s;
  }
  
  .footer .ro a:hover{
  color:#fff;
  }
  
  .footer .ro ul{
  width:100%;
  }
  
  .footer .ro ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .ro a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .ro ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .ro a i{
  margin:0% 3%;
  }
  }
  */
 